* {
  padding: 0;
  margin: 0;
  transition: 0.25s;
}
body {
  max-width: 100vw;
  max-height: fit-content;
}
nav#fTopNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  background-color: #1d2a35;
}
img#websiteLogo {
  margin: 3px 15px 3px 3px;
}
nav#fTopNav ul a {
  margin: 0;
  padding: 15px 4px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
}
nav#fTopNav ul a:hover {
  background-color: #04aa6d;
}
nav#fTopNav span.right {
  margin-left: 340px;
}
nav#fTopNav input[type='search'] {
  width: 140px;
  height: 30px;
  padding: 5px;
  border-radius: 40px;
  vertical-align: middle;
}
nav#sTopNav {
  position: fixed;
  left: 0;
  top: 50px;
  width: 100vw;
  height: 30px;
  background-color: #282a35;
}
nav#sTopNav a {
  margin: 0;
  padding: 9px 5px;
  font-size: 15px;
  vertical-align: middle;
  text-decoration: none;
  color: white;
}
nav#sTopNav a:hover {
  background-color: #000;
}
